.image,
.image > div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bg {
  position: relative;
  width: 100vw;
  height: 907px;
  background-image: url(/public/img/bg.png);
  margin-top: calc(282px + 176px);
}

.slogan {
  position: absolute;
  width: 509px;
  height: 73px;
  top: -90px;
  left: 410px;
  background-image: url(/public/img/slogan.png);
}
.top-image {
  position: absolute;
  width: 497px;
  height: 391px;
  top: -186px;
  right: 414px;
  background-image: url(/public/img/topImage.png);
}
.welcome {
  position: absolute;
  width: 1138px;
  height: 27px;
  top: 446px;
  left: 390px;
  background-image: url(/public/img/welcome.png);
}
.free {
  position: absolute;
  width: 122px;
  height: 122px;
  top: 446px;
  right: 75px;
  background-image: url(/public/img/bottom/free.png);

  cursor: pointer;
}
.free:hover {
  background-image: url(/public/img/bottom/free_h.png);
}

.orange-bubble,
.orange-bubble_2 {
  position: absolute;
  width: 354px;
  height: 278px;
  top: 715px;
}
.orange-bubble {
  right: 632px;
  background-image: url(/public/img/orangeBubble.png);
}
.orange-bubble_2 {
  /* left: 403px; */
  left: -100%;
  background-image: url(/public/img/orangeBubble_2.png);
  transition: left 0.2s;
}


.blue-bubble,
.blue-bubble_2 {
  position: absolute;
  width: 371px;
  height: 291px;
  top: calc(65px + 906px);
}
.blue-bubble {
  right: 405px;
  background-image: url(/public/img/blueBubble.png);
}
.blue-bubble_2 {
  left: 624px;
  background-image: url(/public/img/blueBubble_2.png);
}

.musense-can-help {
  position: absolute;
  width: 266px;
  height: 66px;
  top: calc(490px + 906px);
  right: 827px;
  background-image: url(/public/img/musenseCanHelp.png);
}

.reply {
  position: absolute;
  width: 832px;
  height: 74px;
  top: calc(603px + 906px);
  right: 544px;
  background-image: url(/public/img/reply.png);
}

.triangle-range-orange,
.triangle-range-orange_2 {
  position: absolute;
  width: 230px;
  height: 31px;
}

.triangle-range-orange {
  top: calc(713px + 906px);
  right: 208px;
  background-image: url(/public/img/triangleRangeOrange.png);
}
.triangle-range-orange_2 {
  top: calc(854px + 906px);
  left: 348px;
  background-image: url(/public/img/triangleRangeOrange_2.png);
}

