.contact-us-wrapper {
  position: relative;
  margin-top: 122px;
}
.contact-us-wrapper > div,
.contact-us-wrapper * button,
.contact-us-wrapper
  *
  div:not([class$='content']):not([class$='wrapper']):not([class$='form']) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.contact-us {
  position: relative;
  width: 100%;
  height: 58px;
  background-image: url(/public/img/contactUs_big.png);
}

.contact-us-content {
  position: relative;
  margin: 92px auto 0;
  width: var(--contact-us-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-wrapper {
  position: relative;
  width: 516px;
  height: calc(494px + 70px + 64px);
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-down {
  position: relative;
  width: 516px;
  height: 494px;
  background-image: url(/public/img/contact/image_down.png);
}
.orange-box {
  position: relative;
  width: 335px;
  height: 64px;
  background-image: url(/public/img/contact/orangeBox.png);
  margin-left: -232px;
}

.contact-us-form {
  position: relative;
  width: 578px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
}

.enter-box {
  position: relative;
  width: 578px;
  height: 46px;
  background-image: url(/public/img/contact/enterBox.png);
  box-sizing: border-box;
  font-size: 16px;
}

textarea,
input {
  position: relative;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
}
textarea,
textarea:focus,
input,
input:focus {
  border: 0;
  outline-width: 0;
}

.enter-box::before {
  content: '';
  position: absolute;
  display: block;
  top: calc(-18px - 12px);
  left: 11px;
  width: 39px;
  height: 18px;
}
.enter-box.name:before {
  background-image: url(/public/img/contact/name.png);
}
.enter-box.phone:before {
  background-image: url(/public/img/contact/phone.png);
}
.enter-box.email:before {
  width: 87px;
  background-image: url(/public/img/contact/email.png);
}
.enter-box.contact:before {
  width: 133px;
  background-image: url(/public/img/contact/contact.png);
}
.enter-box.ask:before {
  width: 87px;
  background-image: url(/public/img/contact/ask.png);
}

.enter-box.large {
  height: 181px;
  background-image: url(/public/img/contact/enterBox_large.png);
}

.send-button {
  position: relative;
  width: 102px;
  height: 34px;
  background-image: url(/public/img/bottom/sendBottom.png);
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-top: calc(19px - 42px);
}

.send-button:hover {
  background-image: url(/public/img/bottom/sendBottom_h.png);
}

.modal-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.modal-close {
  position: relative;
  background-color: unset;
  border: unset;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: '';
  background-color: #000;
  width: 15px;
  height: 3px;
  transform-origin: center;
}

.modal-close::before {
  transform: rotate(45deg);
}
.modal-close::after {
  transform: rotate(-45deg);
}
