.our-service-wrapper {
  position: relative;
  margin-top: 980px;
}

.our-service {
  position: relative;
  width: 100vw;
  height: 50px;
  background-image: url(./../../public/img/our\ service.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.service-box {
  position: relative;
  margin: 86px auto 0;
  /* left: 50%;
  transform: translateX(-50%); */
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 84px;
}
.ad-image {
  position: relative;
  width: 231px;
  height: calc(392px + 32px + 67px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  cursor: pointer;
}
.ad-image:after {
  content: '';
  position: absolute;
  display: block;
  width: 131px;
  height: 67px;
  background-image: url(./../../public/img/bottom/more_bottom.png);
  top: calc(32px + 392px);
  left: 50%;
  transform: translateX(-50%);
}
.ad-image:hover:after {
  background-image: url(./../../public/img/bottom/more_bottom_h.png);
}
.advertising {
  background-image: url(./../../public/img/advertising.png);
}
.seo-service {
  background-image: url(./../../public/img/seo\ service.png);
}
.social-media {
  background-image: url(./../../public/img/social\ media.png);
}
.cis {
  background-image: url(./../../public/img/cis.png);
}

.why-musense {
  position: relative;
  margin: 159px auto 0;
  width: 100vw;
  height: 719px;
  background-image: url(./../../public/img/why\ musense.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
