:root {
  --n-header-height: -120px;
  --header-height: 120px;
  --top-offset: calc(var(--header-height) + 282px - 186px);
  --ourService-top: calc(var(--top-offset) + 95px);
  --banner-top-offset: calc(var(--header-height) + 44px);
  --contact-us-width: 1240px;

  --clamp-line: 3;
}

body {
  min-height: 100vh;
  margin: 0;
}

@font-face {
  font-family: Openhuninn;
  src: url('./assets/font/jf-openhuninn-1.1.ttf');
}
@font-face {
  font-family: TaipeiSansTCBeta;
  src: url('./assets/font/TaipeiSansTCBeta-Regular.ttf');
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: var(--clamp-line, 3);
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}
